    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
    /* * {
        margin: 0;
        padding: 0;
        font-family: Raleway;
        box-sizing: border-box;
    } */
    
    .works__bg {
        background-color: #1C2833;
        border: none;
        color: #808B96;
    }
    
    .works__bg:hover {
        background-color: #CA6F1E;
        color: #D0D3D4;
        transition: all 0.2s;
        margin: 5px;
    }
    
    .space span {
        margin: 0 0.2em 0.1em 0.2em;
    }
    
    .hero {
        width: 100%;
        /* height: 90vh; */
        background-color: #1C2833;
        /* background-image: url(images/wall-wallpaper-concrete-colored-painted-textured-concept.jpg); */
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
    }
    
    .logo {
        width: 100px;
        cursor: pointer;
        margin-top: 45px;
    }
    
    .navbar {
        width: 85%;
        height: 15%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .name {
        text-transform: uppercase;
        color: #808B96;
        font-size: large;
        font-family: Poppins;
    }
    
    .me{
        object-fit: contain;
        background-image: url('./images/me2.svg');
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .mybutton {
        color: #fbfcfd;
        padding: 15px 45px;
        background: transparent;
        border: 1px solid #2C3E50;
        outline: none;
        cursor: pointer;
        font-size: small;
        text-align: center;
        margin: 0 0.4em;
        border-radius: 2px;
        font-weight: bolder;
        text-decoration: none;
    }
    
    .mybutton:hover {
        background-color: #2C3E50;
        border: 1px solid#0507FB;
    }
    
    .in {
        background-color: #0507FB;
    }
    
    .out {
        background-color: #21618C;
    }
    
    .control-svg {
        display: flex;
        align-items: center;
        width: 150%;
        justify-content: space-around;
        position: absolute;
    }
    
    .content {
        color: #fbfcfd;
        position: absolute;
        top: 30%;
        left: 6%;
        z-index: 2;
        transform: translate(-2%);
    }
    
    .hello {
        text-transform: uppercase;
        color: #0507FB;
        font-weight: 800;
        font-size: 18px;
        margin: 0 0.4em;
    }
    
    .header_title {
        font-size: 45 px;
        margin: 10px 0 30px;
        line-height: 50px;
        font-weight: 400;
        font-family: Poppins;
    }
    
    .sidebar {
        width: 50px;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #1C2833;
    }
    
    .menu {
        display: block;
        width: 25px;
        margin: 40px auto 0;
        cursor: pointer;
    }
    
    .social-links img,
    .useful-links img {
        width: 25px;
        margin: 5px auto;
        cursor: pointer;
    }
    
    .social-links {
        width: 50px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(-10%);
    }
    
    .useful-links {
        width: 50px;
        text-align: center;
        position: absolute;
        bottom: 2px;
    }
    
    .bubbles img {
        width: 10px;
        animation: bubble 7s linear infinite;
    }
    
    .bubbles {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: -70px;
    }
    
    
    
    @keyframes bubble {
        0% {
            transform: translateY(0);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: translateY(-80vh);
            opacity: 0;
        }
    }
    
    .bubbles img:nth-child(1) {
        width: 25px;
        animation-delay: 2s;
    }
    
    .bubbles img:nth-child(2) {
        animation-delay: 1s;
    }
    
    .bubbles img:nth-child(3) {
        animation-delay: 3s;
    }
    
    .bubbles img:nth-child(4) {
        animation-delay: 4.5s;
    }
    
    .bubbles img:nth-child(5) {
        animation-delay: 3s;
    }
    
    .bubbles img:nth-child(6) {
        width: 20px;
        animation-delay: 6s;
    }
    
    .bubbles img:nth-child(7) {
        width: 35px;
        animation-delay: 7s;
    }
    
    .toggle__title {
        cursor: pointer;
        color: #BDC3C7;
        text-transform: uppercase;
    }
    
    .toggle__title:hover {
        color: #0507FB;
    }
    
    #footer {
        padding: 5em 4em 2em;
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
    }
    
    #footer-cta a {
        border: 2px solid #fff;
        border-radius: 45px;
        color: #fff;
    }
    
    #footer-cta a:hover {
        background: #fff;
        color: rgba(255, 103, 68, 0.91);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);
    }
    
    #footer #logo {
        background-color: #2874A6;
        border-radius: 50%;
        color: #2874A6;
        padding: .4em;
        font-family: "Maven pro", sans-serif;
        font-size: 1.6em;
        font-weight: 500;
        display: inline;
    }
    
    #footer #copyright {
        margin-top: 1.6em;
        font-family: "Maven pro", sans-serif;
        font-weight: 500;
        color: #fbfcfd;
    }
    
    .footer__first {
        color: #fbfcfd;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 30px;
        background-color: #1C2833;
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
    }
    
    .foot {
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
    }
    
    .foot a {
        color: #fbfcfd;
        display: block;
        text-decoration: none;
        line-height: 30px;
    }
    
    .foot a:hover {
        color: #B3B6B7;
    }
    
    .foot__side {
        display: block;
        overflow-y: hidden;
        overflow-x: hidden;
        overflow: hidden;
    }
    
    .foot__side a {
        display: block;
        text-decoration: none;
        color: #fbfcfd;
    }
    
    .connect__me i {
        color: #566573;
        margin: 0 0.5em;
        margin-top: 5px;
        cursor: pointer;
        font-size: 20px;
        padding-right: 10px;
    }
    
    .connect__me i:hover {
        color: #0507FB;
    }
    
    .connect__me {
        display: flex;
    }
    
    .rbutton {
        color: white;
        padding: 15px 45px;
        background: darkblue;
        border: 1px solid #0507FB;
        outline: none;
        cursor: pointer;
        font-size: small;
        text-align: center;
        margin: 0 0.4em;
        border-radius: 2px;
        font-weight: bolder;
        text-decoration: none;
    }
    
    .rbutton:hover {
        color: #D5DBDB;
        border: 1px solid #D5DBDB;
        transition: all 1s;
    }
    
    @media (max-width:690px) {
        .hide-for-mobile {
            display: none;
        }
        .show-border {
            border: 1px solid darkblue;
        }
    }
    
    @media (min-width: 64em) {
        .hide-for-desktop {
            display: none;
        }
    }